body {
    font-family: "Inter", sans-serif;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.951);
}

ul>li {
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 576px) {
    .navlink {
        display: none;
    }

    .navbar-mb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
    }

    .bar {
        color: rgb(255, 255, 255);
    }

    .logo-mb {
        color: rgb(230, 83, 60);
        font-family: Inter;
        font-size: 28px;
        font-weight: 600;
        font-style: italic;
    }

    /* banner */
    .heading-mb {
        color: rgb(255, 255, 255);
        font-size: 2rem;
        font-weight: 900;
        padding-bottom: 1rem;
        width: 75%;
    }

    .description-mb {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8rem;
        padding-bottom: 1rem;
        width: 75%;
    }

    .primary-btn-mb {
        border-radius: 2rem;
        background: rgb(230, 83, 60);
        color: white;
        width: 50%;
        padding: 1rem 2rem 1rem 2rem;
        border: none;
    }

    .secondary-btn-mb {
        border-radius: 2rem;
        background: rgba(230, 83, 60, 0);
        color: white;
        width: 50%;
        padding: 1rem 2rem 1rem 2rem;
        border: 1px solid rgb(255, 255, 255);
    }

    .banner-btn-mb {
        display: flex;
        flex-direction: row;
        gap: 1rem;

    }

    .cursive-mb {
        font-family: "Dancing Script", cursive;
    }

    .img-div-mb {
        height: 35rem;
        background-image: url('images/images2.png');
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        position: relative;
    }

    .top-mb {
        box-sizing: border-box;
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 0.5rem;
        background: rgba(255, 255, 255, 0.1);
        height: 4rem;
        width: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
        position: absolute;
        top: 5rem;
        right: 0.5rem;
    }

    .bottom-mb {
        box-sizing: border-box;
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 0.5rem;
        background: rgba(255, 255, 255, 0.1);
        height: 4rem;
        width: 9rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        position: absolute;
        bottom: 15rem;
        left: 0.5rem;

    }

    .ply-btn {
        font-size: 1.8rem;
        color: #E6533C;
        background-color: white;
        border-radius: 100%;
    }

    .top-mb-heading {
        color: rgb(255, 255, 255);
        font-size: 1.8rem;
        font-weight: 900;
    }

    .top-mb-description {
        font-size: 0.7rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.65);
    }

    .banner-mb {
        padding: 0.5rem 1rem;
    }

    .section-heading-mb {
        font-size: 1.8rem;
        font-weight: 900;
        color: rgb(255, 255, 255);

    }

    .section-description-mb {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.8rem;
        padding-bottom: 1rem;
    }

    .centered-content-mb {
        text-align: center;
    }

    .circle {
        border-radius: 100%;
    }

    .card {
        text-align: center;
        margin: 1rem 2rem;

    }

    .cir-heading {
        font-size: 1.1rem;
        font-weight: 600;
        color: rgb(255, 255, 255);
        padding: 1rem 0;
    }

    .section-description-lg {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8rem;
        padding-bottom: 1rem;
    }

    .run-extra-img {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 1.1rem;
    }
    .run-primary-btn-mb{
        border-radius: 2rem;
        background: rgb(230, 83, 60);
        color: white;
        width: 100%;
        padding: 1rem 2rem 1rem 2rem;
        border: none;
        font-size: 1.1;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    .run-extra{
        background-color: #222222;
        padding: 2rem;
        margin: 1rem 1rem;
        border-radius: 1.1rem;
    }
}

@media screen and (min-width: 1200px) {

    .navbar-lg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 10rem;
    }

    .bar {
        display: none;
    }

    .navlink>ul {
        display: flex;
        gap: 20px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 400;
    }

    .logo-lg {
        color: rgb(230, 83, 60);
        font-family: Inter;
        font-size: 36px;
        font-weight: 800;
        font-style: italic;
    }

    .heading-lg {
        color: rgb(255, 255, 255);
        font-size: 4.7rem;
        font-weight: 900;
        padding-bottom: 1rem;
        width: 75%;
    }

    .description-lg {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8rem;
        padding-bottom: 1rem;
        width: 75%;
    }

    .primary-btn-lg {
        border-radius: 2rem;
        background: rgb(230, 83, 60);
        color: white;
        width: 50%;
        padding: 1rem 2rem 1rem 2rem;
        border: none;
        font-size: 1.2rem;
    }

    .secondary-btn-lg {
        border-radius: 2rem;
        background: rgba(230, 83, 60, 0);
        color: white;
        width: 50%;
        padding: 1rem 2rem 1rem 2rem;
        border: 1px solid rgb(255, 255, 255);
        font-size: 1.2rem;
    }

    .banner-btn-lg {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 4rem;

    }

    .cursive-mb {
        font-family: "Dancing Script", cursive;
    }

    .img-div-lg {
        height: auto;
        width: 100%;
        background-image: url('images/images2.png');
        background-repeat: no-repeat;
        position: relative;
        background-position: center;
        display: flex;

    }

    .top-lg {
        box-sizing: border-box;
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 0.5rem;
        background: rgba(255, 255, 255, 0.1);
        height: 4rem;
        width: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
        position: absolute;
        top: 7.5rem;
        right: 5.5rem;
    }

    .bottom-lg {
        box-sizing: border-box;
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 0.5rem;
        background: rgba(255, 255, 255, 0.1);
        height: 4rem;
        width: 9rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        position: absolute;
        bottom: 4rem;
        left: 5rem;

    }

    .ply-btn {
        font-size: 1.8rem;
        color: #E6533C;
        background-color: white;
        border-radius: 100%;
    }

    .top-mb-heading {
        color: rgb(255, 255, 255);
        font-size: 1.8rem;
        font-weight: 900;
    }

    .top-mb-description {
        font-size: 0.7rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.65);
    }


    .banner-lg {
        display: flex;
        padding: 1rem 10rem;
    }

    .section-heading-lg {
        font-size: 3rem;
        font-weight: 900;
        color: rgb(255, 255, 255);

    }

    .section-description-lg {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8rem;
        padding-bottom: 1rem;
    }

    .centered-content-lg {
        text-align: center;
    }

    .circle {
        border-radius: 100%;
    }

    .card {
        text-align: center;
        margin: 1rem 2rem;

    }

    .circle-img-parent {
        display: flex;
        padding: 2rem 10rem;

    }

    .cir-heading {
        font-size: 1.1rem;
        font-weight: 600;
        color: rgb(255, 255, 255);
        padding: 1rem 0;
    }
    .run-extra-img {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 1.1rem;
    }
    .run-primary-btn-mb{
        border-radius: 2rem;
        background: rgb(230, 83, 60);
        color: white;
        width: 70%;
        padding: 1rem 2rem 1rem 2rem;
        border: none;
        font-size: 1.1;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    .run-extra{
        background-color: #222222;
        padding: 2rem;
        margin: 1rem 10rem;
        border-radius: 1.1rem;
        display: flex;
        justify-content: space-between;
        gap: 9rem;
        align-items: center;
    }
    .run-img-div{
        width: 50%;
    }
    .run-extra-content{
        width: 70%;
    }



}